.btn {
  width: 95%;
  margin: auto;
  height: 40px;
  border: none;
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.8em;
  color: rgb(66, 57, 2);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  z-index: 2;
  left: 0;
  margin-bottom: 50px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.144);
  background-size: 200% 200%;
  animation: buttonAnimation 1s ease-in-out infinite;
}

.logoIcon path {
  fill: rgb(121, 3, 3);
}

.btn:hover {
  transform: scale(0.95);
  transition-duration: 3s;
  animation: gradient 5s ease infinite;
  background-position: right;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }

  10% {
    transform: scale(1.02);
  }
}